# Provenance: MODELED FROM DOCS (grounded=modeled-from-docs).
# bexio does not publish a first-party OpenAPI/Swagger definition as of 2026-07-17
# (their docs state a public OpenAPI is planned but not yet available). This spec
# was modeled by hand from the documented REST resources at https://docs.bexio.com/
# and the live OIDC configuration at https://auth.bexio.com/realms/bexio.
# Host https://api.bexio.com/2.0/ probed 2026-07-17 -> HTTP 401 (auth required, real).
openapi: 3.0.3
info:
  title: bexio API
  description: >-
    REST API for bexio, the Swiss cloud business-management platform (accounting,
    invoicing, contacts, projects, payroll). All endpoints are served over HTTPS
    under https://api.bexio.com/2.0. JSON is the data-interchange format.
    Authentication is OAuth 2.0 Authorization Code (OpenID Connect) or a Personal
    Access Token (PAT); both are presented as a Bearer token. This document is
    modeled from the public documentation, not a first-party spec.
  termsOfService: https://www.bexio.com/en-CH/gtc
  contact:
    name: bexio Developer Support
    url: https://developer.bexio.com/
  version: '2.0'
servers:
  - url: https://api.bexio.com/2.0
    description: bexio API v2.0 (Switzerland)
security:
  - bearerAuth: []
tags:
  - name: Contacts
  - name: Sales Orders
  - name: Accounting
  - name: Items
  - name: Projects
  - name: Files
  - name: Purchase
  - name: Payroll
  - name: Banking
paths:
  /contact:
    get:
      operationId: listContacts
      tags: [Contacts]
      summary: List contacts
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: A list of contacts.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Contact'
    post:
      operationId: createContact
      tags: [Contacts]
      summary: Create a contact
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contact'
      responses:
        '201':
          description: The created contact.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
  /contact/{id}:
    parameters:
      - $ref: '#/components/parameters/Id'
    get:
      operationId: getContact
      tags: [Contacts]
      summary: Fetch a contact
      responses:
        '200':
          description: A single contact.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
    post:
      operationId: updateContact
      tags: [Contacts]
      summary: Overwrite a contact
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contact'
      responses:
        '200':
          description: The updated contact.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
    delete:
      operationId: deleteContact
      tags: [Contacts]
      summary: Delete a contact
      responses:
        '200':
          description: Deletion result.
  /kb_offer:
    get:
      operationId: listOffers
      tags: [Sales Orders]
      summary: List quotes (Offerten)
      description: Sales quotes / offers. Local term Offerte (EN gloss quote).
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: A list of quotes.
    post:
      operationId: createOffer
      tags: [Sales Orders]
      summary: Create a quote (Offerte)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesDocument'
      responses:
        '201':
          description: The created quote.
  /kb_order:
    get:
      operationId: listOrders
      tags: [Sales Orders]
      summary: List orders (Auftraege)
      responses:
        '200':
          description: A list of orders.
    post:
      operationId: createOrder
      tags: [Sales Orders]
      summary: Create an order (Auftrag)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesDocument'
      responses:
        '201':
          description: The created order.
  /kb_invoice:
    get:
      operationId: listInvoices
      tags: [Sales Orders]
      summary: List invoices (Rechnungen)
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: A list of invoices.
    post:
      operationId: createInvoice
      tags: [Sales Orders]
      summary: Create an invoice (Rechnung)
      description: >-
        Creates a customer invoice. bexio can render the invoice as a Swiss
        QR-bill (QR-Rechnung) PDF with an embedded Swiss QR code for payment.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesDocument'
      responses:
        '201':
          description: The created invoice.
  /kb_invoice/{id}:
    parameters:
      - $ref: '#/components/parameters/Id'
    get:
      operationId: getInvoice
      tags: [Sales Orders]
      summary: Fetch an invoice
      responses:
        '200':
          description: A single invoice.
  /kb_invoice/{id}/pdf:
    parameters:
      - $ref: '#/components/parameters/Id'
    get:
      operationId: getInvoicePdf
      tags: [Sales Orders]
      summary: Download an invoice PDF (QR-bill)
      responses:
        '200':
          description: The invoice document, base64-encoded PDF.
  /article:
    get:
      operationId: listArticles
      tags: [Items]
      summary: List items / products (Artikel)
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: A list of items.
    post:
      operationId: createArticle
      tags: [Items]
      summary: Create an item / product
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Article'
      responses:
        '201':
          description: The created item.
  /accounts:
    get:
      operationId: listAccounts
      tags: [Accounting]
      summary: List chart-of-accounts entries (Konten)
      responses:
        '200':
          description: A list of accounts.
  /currencies:
    get:
      operationId: listCurrencies
      tags: [Accounting]
      summary: List currencies
      responses:
        '200':
          description: A list of currencies (CHF and others).
  /taxes:
    get:
      operationId: listTaxes
      tags: [Accounting]
      summary: List VAT (MWST) tax rates
      responses:
        '200':
          description: A list of Swiss VAT tax definitions.
  /accounting/manual_entries:
    get:
      operationId: listManualEntries
      tags: [Accounting]
      summary: List manual journal entries (Buchungen)
      responses:
        '200':
          description: A list of manual entries.
    post:
      operationId: createManualEntry
      tags: [Accounting]
      summary: Create a manual journal entry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: The created manual entry.
  /pr_project:
    get:
      operationId: listProjects
      tags: [Projects]
      summary: List projects
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: A list of projects.
    post:
      operationId: createProject
      tags: [Projects]
      summary: Create a project
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Project'
      responses:
        '201':
          description: The created project.
  /timesheet:
    get:
      operationId: listTimesheets
      tags: [Projects]
      summary: List timesheet entries
      responses:
        '200':
          description: A list of timesheet entries.
    post:
      operationId: createTimesheet
      tags: [Projects]
      summary: Create a timesheet entry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: The created timesheet entry.
  /files:
    get:
      operationId: listFiles
      tags: [Files]
      summary: List files
      responses:
        '200':
          description: A list of files.
    post:
      operationId: uploadFile
      tags: [Files]
      summary: Upload a file
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '201':
          description: The uploaded file metadata.
  /kb_bill:
    get:
      operationId: listBills
      tags: [Purchase]
      summary: List supplier bills (Lieferantenrechnungen)
      responses:
        '200':
          description: A list of bills.
    post:
      operationId: createBill
      tags: [Purchase]
      summary: Create a supplier bill
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: The created bill.
  /kb_expense:
    get:
      operationId: listExpenses
      tags: [Purchase]
      summary: List expenses (Spesen)
      responses:
        '200':
          description: A list of expenses.
  /payroll/employees:
    get:
      operationId: listEmployees
      tags: [Payroll]
      summary: List payroll employees
      responses:
        '200':
          description: A list of employees.
  /payroll/absences:
    get:
      operationId: listAbsences
      tags: [Payroll]
      summary: List payroll absences
      responses:
        '200':
          description: A list of absences.
  /banking/accounts:
    get:
      operationId: listBankAccounts
      tags: [Banking]
      summary: List bank accounts
      responses:
        '200':
          description: A list of bank accounts.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        OAuth 2.0 Authorization Code (OpenID Connect, issuer
        https://auth.bexio.com/realms/bexio) access token, or a Personal Access
        Token (PAT), presented as an Authorization: Bearer header.
  parameters:
    Id:
      name: id
      in: path
      required: true
      schema:
        type: integer
    Limit:
      name: limit
      in: query
      required: false
      description: Page size. Default 500, maximum 2000.
      schema:
        type: integer
        default: 500
        maximum: 2000
    Offset:
      name: offset
      in: query
      required: false
      schema:
        type: integer
        default: 0
  schemas:
    Contact:
      type: object
      properties:
        id:
          type: integer
        contact_type_id:
          type: integer
          description: 1 = company, 2 = person.
        name_1:
          type: string
        name_2:
          type: string
        address:
          type: string
        postcode:
          type: string
        city:
          type: string
        country_id:
          type: integer
        mail:
          type: string
        phone_fixed:
          type: string
    SalesDocument:
      type: object
      properties:
        id:
          type: integer
        document_nr:
          type: string
        title:
          type: string
        contact_id:
          type: integer
        currency_id:
          type: integer
        total:
          type: string
        total_gross:
          type: string
        mwst_type:
          type: integer
          description: VAT (MWST) handling mode.
        positions:
          type: array
          items:
            type: object
    Article:
      type: object
      properties:
        id:
          type: integer
        intern_name:
          type: string
        intern_code:
          type: string
        sale_price:
          type: string
        purchase_price:
          type: string
        currency_id:
          type: integer
    Project:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        contact_id:
          type: integer
        pr_state_id:
          type: integer
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
